<footer class="flex flex-col items-center bg-zinc-50 text-center text-surface dark:bg-red-800 dark:text-white ">
  <div class="container px-6 pt-2">
    <!-- Newsletter sign-up form -->
    <div>
      <form action="">
        <div class="gird-cols-1 grid items-center justify-center gap-4 md:grid-cols-5">
          <div class="md:mb-2 md:ms-auto">
            <p>
              <strong>Direcciòn:</strong>
            </p>
          </div>

          <!-- Newsletter sign-up input field -->
          <div class="relative md:mb-2" data-twe-input-wrapper-init>
            <input type="email"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInputEmail" placeholder="Email address" />
            <label for="exampleFormControlInputEmail"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-white dark:peer-focus:text-primary">Jr.
              Huanuco nro 161, Huancayo
            </label>
          </div>
           <div class="md:mb-2 md:ms-auto">
            <p>
              <strong>Horario:</strong>
            </p>
          </div>
           <div class="relative md:mb-2" data-twe-input-wrapper-init>
            <input type="email"
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[twe-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-white dark:placeholder:text-neutral-300 dark:autofill:shadow-autofill dark:peer-focus:text-primary [&:not([data-twe-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInputEmail" placeholder="Email address" />
            <label for="exampleFormControlInputEmail"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-white dark:peer-focus:text-primary">
              Lunes - Viernes: 07:30am - 07:30pm
            </label>
          </div>
        </div>
        
      </form>
    </div>

    <!-- Copyright information -->
    <div class="mb-0">
      <p>
        Somos una tienda especializada en la venta de abarrotes de primera necesidad e insumos para pastelería.
        Ofrecemos productos frescos, de calidad y a buen precio para hogares, negocios y emprendedores. Aquí encontrarás
        desde azúcar y harina, hasta moldes, decoraciones y todo lo que necesitas para tus preparaciones.
      </p>
    </div>

    <!-- Links section -->

  </div>

  <!-- Copyright section -->
  <div class="w-full  p-1 mt-2 bg-gray-100 text-red-800 text-center  ">
    © 2025
    <a class="font-semibold" href="https://tw-elements.com/">Grupo Ipia del Centro</a>
  </div>
</footer>