<footer class="fixed bottom-0 w-full bg-red-900 text-white  text-center z-20 ">
    <div class="mx-10 my-4">
      <form action="">
        <div class="my-2 gird-cols-1 grid items-center  gap- md:grid-cols-4">
          <div class=" md:ms-auto">
            <p>
              <strong>Direcciòn:</strong>
            </p>
          </div>

          <!-- Newsletter sign-up input field -->
          <div class="relative md:mb-2" data-twe-input-wrapper-init>      
            <label for="exampleFormControlInputEmail"
              class="pointer-events-none text-white left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-white dark:peer-focus:text-primary">Jr.
              Huanuco nro 161, Huancayo
            </label>
          </div>
           <div class=" md:ms-auto">
            <p>
              <strong>Horario:</strong>
            </p>
          </div>
           <div class="relative md:mb-2" data-twe-input-wrapper-init>
            <label for="exampleFormControlInputEmail"
              class="pointer-events-none text-white left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[twe-input-state-active]:-translate-y-[0.9rem] peer-data-[twe-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-white dark:peer-focus:text-primary">
              Lunes - Viernes: 07:30am - 07:30pm
            </label>
          </div>
        </div>
        
        <div class="">
          <p>
            Somos una tienda especializada en la venta de abarrotes de primera necesidad e insumos para pastelería.
            Ofrecemos productos frescos, de calidad y a buen precio para hogares, negocios y emprendedores. Aquí encontrarás
            desde azúcar y harina, hasta moldes, decoraciones y todo lo que necesitas para tus preparaciones.
          </p>
        </div>
        
      </form>
    </div>
  <!-- Copyright section -->
  <div class="w-full   bg-gray-100 text-red-800 text-center  ">
    © Copyright designed Coding 2025
    <a class="font-semibold" href="https://tw-elements.com/">Grupo Ipia del Centro</a>
  </div>
</footer>